

body {
    font-family: 'Raleway', sans-serif;
    background-color: lightpink;
}

p a {
	color: beige;
}

p a:hover {
	color: whitesmoke;
}

#about p a { color: beige; }
#about p a:hover { color: whitesmoke; }

#contact p a { color: lightpink; }

footer span a { color: white; }

.tm-logo-font {
    font-family: 'Oswald', sans-serif;
}

.tm-container {
    max-width: 1200px;
}

.parallax-window {
    min-height: 1064px;
    background: transparent;
}

.tm-text-yellow {
    color: lightyellow;
}

.tm-text-gold {
    color: gold;
}

.tm-text-brown {
    color: brown;
}

.tm-text-green {
    color: seagreen;
}

a.tm-bg-green:hover {
    background-color: gray;
}

.tm-bg-brown {
    background-color: black;
}

.tm-bg-green {
    background-color: green;
}

.tm-border-gold {
    border-color: white;
}

.tm-intro-width {
    max-width: 436px;
}

.tm-item-container {
    max-width: 520px;
}

.input:focus {
    outline: none !important;
    border:1px solid orange;
    box-shadow: 0 0 10px black;
}

input::placeholder,
textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(214, 212, 212);
    opacity: 1; /* Firefox */
}
  
input:-ms-input-placeholder,
textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(214, 212, 212);
}
  
input::-ms-input-placeholder,
textarea::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(214, 212, 212);
}

#tm-nav {
    z-index: 1000;
    transition: all 0.3s ease;
}

#tm-nav.scroll {
    background-color: rgba(0,0,0,0.7);
}

#tm-nav li a {
    border-bottom-color: transparent;
    transition: all 0.3s ease;
}

#tm-nav li a.current,
#tm-nav li a:hover {
      border-bottom: 4px solid orange;
}

.tm-text-2xl {
    font-size: 1.2rem;
    line-height: 2rem;
}

@media (min-width: 100px) {
    #tm-nav.scroll .tm-container {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media (max-width: 200px) {
    #tm-nav {
        width: auto;
        right: 0;
        border-radius: 5px;
    }
}

@media (max-width: 200px) {
    .parallax-window {
        min-height: 200px;
    }
}

@media (max-width: 100px) {
    .tm-menu-item {
        flex-direction: column;
    }

    .tm-menu-item-2 {
        flex-direction: column-reverse;
    }

    .tm-menu-item img {
        margin-bottom: 10px;
    }

    .tm-menu-item-2 img {
        margin-bottom: 10px;
    }
}
